* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0px 30px;
}

.titleDiv {
    width: 100;
    font-size: small;
    color: #807D7E;
    margin-top: 2rem;
}

.titleDiv span {
    color: black;
    font-weight: 600;
}

.detailsDiv {
    width: 100%;
    /* height: 20px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.productImgDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productImg {
    width: 100%;
    height: auto;
}

.leftImg {
    width: 2%;
    position: absolute;
    align-self: flex-start;
    cursor: pointer;
}

.rightImg {
    width: 2%;
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
}

.detailsDivChild {
    width: 25%;
    /* height: 50px; */
    /* background-color: blue; */
}

.userDetailsMainDiv {
    width: 100%;
    /* height: 100px; */
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #D8DFE0;
    border-radius: 3px;
}

.userDetailsDiv {
    width: 90%;
    /* height: 60px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    margin-top: 10px;
}

.userDetailsDiv img {
    width: 60px;
    height: 60px;
}

.userDetailsDiv h1 {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 10px;
}

.userDetailsDiv h2 {
    color: #807D7E;
    font-size: 0.7rem;
    font-weight: 100;
    margin-left: 10px;
}

.userDetailsDiv h3 {
    color: black;
    font-size: x-small;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

.addToCardBtn {
    width: 90%;
    /* height: 30px; */
    background-color: black;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.addToCardBtn:active {
    background-color: #00000048;
}

.productDetailsDiv {
    width: 100%;
    /* height: 100px; */
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    border: 1px solid #D8DFE0;
    border-radius: 3px;
    padding: 10px 0px;
    margin-top: 20px;
}

.productDetailsDiv h1 {
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    width: 90%;
    align-self: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.productDetailsDiv h2 {
    color: #807D7E;
    font-size: small;
    font-weight: 600;
    /* background-color: aqua; */
    width: 90%;
    align-self: center;
    margin-bottom: 5px;
}

.productDetailsDiv span {
    color: black;
    font-size: small;
    font-weight: 500;
}

.add_idDiv {
    /* background-color: aqua; */
    text-align: right;
    color: #525351;
    margin-top: 15px;
    font-size: 0.9rem;
}

.priceDiv {
    width: 70%;
    border: 1px solid #D8DFE0;
    border-radius: 3px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    line-height: 1.8;
}

.priceDiv h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    margin-left: 5px;
    letter-spacing: 1px;
}

.priceDiv h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFBA3F;
    margin-left: 5px;
}

.priceDivLocationDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
}

.priceDivLocationDiv img {
    width: 30px;
    height: 20px;
}

.priceDivLocationDiv span {
    font-size: 0.8rem;
    color: black;
}

.disDiv {
    width: 70%;
    border: 1px solid #D8DFE0;
    border-radius: 3px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    line-height: 1.8;
}

.disDiv h1 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
}

.disDiv span {
    margin-top: 10px;
    white-space: pre-line;
    font-size: 0.8rem;
}

.reviewDiv {
    width: 70%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

.reviewDiv h1 {
    font-size: x-large;
    font-weight: 700;
    color: black;
}

.reviewDiv span {
    color: black;
    font-size: small;
}

.reviewDiv img {
    width: 7rem;
    height: 5rem;
    margin-right: 10px;
    margin-top: 5px;
}

.reviewNameStarDiv {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.reviewNameStarDiv span {
    font-size: small;
    color: black;
    font-weight: 600;
    margin-right: 10px;
}

.reviewNameStarDiv img {
    width: 15px;
    height: 15px;
    margin-bottom: 7px;
    margin-right: 0px;
}

.relatedProductDiv {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.relatedProductDiv h1 {
    font-size: x-large;
    font-weight: 700;
    color: black;
}

.RelatedProductMapMainDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6.5rem;
}

.mapDiv {
    width: 22%;
    background-color: #F4F5F7;
    padding-bottom: 20px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 3%;
}

.mapImg {
    width: 100%;
    height: 250px;
    background-color: white;
    border-right: 2px solid #c6c5c6;
    border-left: 2px solid #c6c5c6;
    border-top: 2px solid #c6c5c6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 25px 15px;
}

.mapText1 {
    font-size: large;
    font-weight: 600;
    color: black;
    margin-left: 5%;
    margin-top: 7px;
}

.mapText2 {
    font-size: small;
    font-weight: 500;
    color: #898989;
    margin-left: 5%;
    margin-top: 7px;
}

.mapText3 {
    font-size: medium;
    font-weight: 600;
    color: black;
    margin-left: 5%;
    margin-top: 7px;
}

/* Media Queries for Tablet and Mobile */
@media (max-width: 1024px) {
    
}

@media (max-width: 800px) {
    .container{
        padding: 0 1rem;
    }
    .productImgDiv, .priceDiv, .disDiv, .reviewDiv{
        width: 100%;
    }
    .userDetailsDiv h1 {
        font-size: 0.6rem;
    }
    .productDetailsDiv h1 {
        font-size: 0.6rem;
    }
    .priceDiv h1 {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .disDiv h1 {
        font-size: 1rem;
    }
    .reviewDiv h1 {
        font-size: 1.2rem;
        font-weight: 700;
        color: black;
    }
    .relatedProductDiv h1 {
        font-size: 1.2rem;
    }
    .userDetailsDiv h1 {
        font-size: 0.6rem;
        margin-left: 10px;
    }
}