.MRMequipmentDisInput {
    width: 98%;
    height: 70px;
    padding: 7px;
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid #BEBCBD;
    max-width: 98%;
    resize: none;
}

.MRMequipmentDisInput:focus {
    outline: none;
}

.MRMaddRentalFirst {
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 10px;
}

.MRMinputDiv {
    /* background-color: aqua; */
    width: 33%;
    margin-left: 5px;
}

.MRMmodalBtnDiv {
    /* background-color: aqua; */
    /* margin-top: 0px; */
    display: flex;
    flex-direction: row;
}