* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.secondDivSecond {
  width: 90%;
  box-sizing: border-box;
  padding-bottom: 40px;
  display: block;
  margin: auto;
}

.mapMainDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 2rem;
}

.readDetailsCard {
  background-color: #ffffff;
  box-shadow: 3px 3px 5px 0px rgb(231, 231, 231);
  border-radius: 5px;
  padding: 16px 12px;
  width: 360px;
}

.readDetailsCardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}

.readDetailsCardRowRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardLocationImg {
  height: 20px;
  width: 20px;
}

.cardLocationText {
  color: #898989;
  font-size: 15px;
}

.cardTextBold {
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.cardDayText {
  color: #979797;
  font-weight: 600;
  font-size: 14px;
}

.cardImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 12px 0px;
  border-radius: 12px;
}

.cardCommentText {
  color: #8e8e8e;
  font-size: 10px;
}

.readDetailsBtn {
  width: 100%;
  height: 40px;
  background-color: #ffba3f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  margin-top: 14px;
  cursor: pointer;
  font-size: 15px;
}
.browseBtn {
  margin: auto;
  width: 32vw;
  height: 45px;
  color: #ffba3f;
  border: 0.5px solid #ffba3f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: white;
  font-weight: 600;
  margin-top: 14px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 2rem;
}

/* Media Queries for Tablet and Mobile */
@media (max-width: 1024px) {
  .secondDiv {
    flex-direction: column;
    padding-top: 20px;
  }

  .secondDivSecond {
    width: 100%;
    padding: 0 15px;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .mapMainDiv {
    flex-direction: column;
    gap: 0;
    max-width: 100%;
  }
  .secondDivSecond {
    padding: 0;
  }
  .readDetailsCard {
    margin-bottom: 2rem;
  }
  .readDetailsBtn {
    font-size: 14px;
  }
  .cardLocationText {
    font-size: 13px;
  }
  .cardTextBold {
    font-size: 13px;
  }
  .cardDayText {
    font-size: 12px;
  }
  .browseBtn {
    width: 60%;
    font-size: 14px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  .readDetailsCard {
    width: 320px;
  }
  .browseBtn {
    width: 80%;
  }
}
