.querriesContainer {
    width: 100%;
    /* min-height: calc(100vh - 86px); */
    margin-top: 10px;
    background-color: #F8F9FA;
    /* background-color: #FFBA3F; */
}

.querriesTabsContainer {
    background-color: #F8F9FA;
    display: flex;
    list-style-type: none;
    margin-left: -10px;
}

.querriesTabBarBtnWhite {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 600;
    box-shadow: 1px 2px 9px #e3e3e3;
    margin-left: 10px;
    font-size: 15px;
}

.querriesTabBarBtn {
    background-color: #FFBA3F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    box-shadow: 1px 2px 9px #e3e3e3;
    margin-left: 10px;
    font-size: 15px;
}