* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0px 30px;
}

.titleDiv {
    width: 100;
    font-size: small;
    color: #807D7E;
    margin-top: 15px;
}

.titleDiv span {
    color: black;
    font-weight: 600;
}

.detailsDiv {
    width: 100%;
    /* height: 20px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.productImgDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productImg {
    width: 100%;
    height: auto;

}

.leftImg {
    width: 2%;
    position: absolute;
    align-self: flex-start;
    cursor: pointer;
}

.rightImg {
    width: 2%;
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
}

.detailsDivChild {
    width: 25%;
    /* height: 50px; */
    /* background-color: blue; */
}

.userDetailsMainDiv {
    width: 100%;
    /* height: 100px; */
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #D8DFE0;
    border-radius: 3px;
}

.userDetailsDiv {
    width: 90%;
    /* height: 60px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    margin-top: 10px;
}

.userDetailsDiv img {
    width: 60px;
    height: 60px;
}

.userDetailsDiv h1 {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 10px;
}

.userDetailsDiv h2 {
    color: #807D7E;
    font-size: 0.7rem;
    font-weight: 100;
    margin-left: 10px;
}

.userDetailsDiv h3 {
    color: black;
    font-size: x-small;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}


.addToCardBtn {
    width: 90%;
    /* height: 30px; */
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: 600;
    text-align: center;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.emailBtn {
    width: 90%;
    /* height: 30px; */
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0px;
    /* margin-top: 10px; */
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #FFBA3F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.emailBtn img {
    width: 25px;
    height: 16px;
}

.addToCardBtn:active {
    background-color: #00000048;
}

.productDetailsDiv {
    width: 100%;
    /* height: 100px; */
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    border: 1px solid #D8DFE0;
    border-radius: 3px;
    padding: 10px 0px;
    margin-top: 20px;
    padding: 0px 5px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.productDetailsDiv h1 {
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    width: 90%;
    align-self: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.productDetailsDiv h2 {
    color: #807D7E;
    font-size: small;
    font-weight: 600;
    /* background-color: aqua; */
    width: 90%;
    align-self: center;
    margin-bottom: 5px;
}

.productDetailsDiv h3 {
    color: #807D7E;
    font-size: small;
    font-weight: 600;
    /* background-color: aqua; */
    width: 90%;
    align-self: center;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.productDetailsDiv span {
    color: black;
    font-size: small;
    font-weight: 500;
}


.add_idDiv {
    text-align: right;
    color: #525351;
    margin-top: 15px;
    font-size: 0.9rem;
}

.priceDiv {
    width: 70%;
    border: 1px solid #D8DFE0;
    border-radius: 3px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    line-height: 1.8;
}

.priceDiv h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    margin-left: 5px;
    letter-spacing: 1px;
}

.priceDiv h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFBA3F;
    margin-left: 5px;
}

.priceDivLocationDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
}

.priceDivLocationDiv img {
    width: 30px;
    height: 20px;
}

.priceDivLocationDiv span {
    font-size: 0.8rem;
    color: black;
}

.disDiv {
    width: 70%;
    border: 1px solid #D8DFE0;
    border-radius: 3px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    line-height: 1.8;
}

.disDiv h1 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
}

.disDiv span {
    margin-top: 10px;
    white-space: pre-line;
    font-size: 0.8rem;
}

.reviewDiv {
    width: 70%;
    /* border: 1px solid #D8DFE0; */
    /* border-radius: 3px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* padding: 20px 20px; */
}

.reviewDiv h1 {
    font-size: x-large;
    font-weight: 700;
    color: black;
}

.reviewDiv span {
    color: black;
    font-size: small;
}

.reviewDiv img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 5px;
}

.reviewNameStarDiv {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.reviewNameStarDiv span {
    font-size: small;
    color: black;
    font-weight: 600;
    margin-right: 10px;
}

.reviewNameStarDiv img {
    width: 15px;
    height: 15px;
    margin-bottom: 7px;
    margin-right: 0px;
}

.relatedProductDiv {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* padding: 20px 20px; */
    /* background-color: red; */
    margin-bottom: 40px;
}

.relatedProductDiv h1 {
    font-size: x-large;
    font-weight: 700;
    color: black;
}

.RelatedProductMapMainDiv {
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* margin-top: 40px; */
}

.mapDiv {
    width: 22%;
    background-color: #F4F5F7;
    padding-bottom: 20px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 3%;
}

.mapImg {
    width: 100%;
    height: 250px;
    background-color: white;
    border-right: 2px solid #c6c5c6;
    border-left: 2px solid #c6c5c6;
    border-top: 2px solid #c6c5c6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 25px 15px;
}

.mapText1 {
    font-size: large;
    font-weight: 600;
    color: black;
    margin-left: 5%;
    margin-top: 7px;
}

.mapText2 {
    font-size: small;
    font-weight: 500;
    color: #898989;
    margin-left: 5%;
    margin-top: 7px;
}

.mapText3 {
    font-size: medium;
    font-weight: 600;
    color: black;
    margin-left: 5%;
    margin-top: 7px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flexRow2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.readDetailsCard {
    background-color: #ffffff;
    width: 23%;
    box-shadow: 3px 3px 5px 0px rgb(231, 231, 231);
    border-radius: 12px;
    padding: 16px 12px;
    margin-right: 2%;
}
/* Responsive adjustments */
@media (max-width: 1200px) {
    .readDetailsCard {
        width: 30%; 
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}
@media (max-width: 1127px) {
    .readDetailsCard {
        width: 40%; 
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

.readDetailsCardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.readDetailsCardRowRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardLocationImg {
    height: 12px;
    width: 12px;
}

.cardLocationText {
    color: #898989;
    font-size: 10px;
}

.cardTextBold {
    color: black;
    font-weight: 700;
    font-size: 12px;
}

.cardDayText {
    color: #979797;
    font-weight: 600;
    font-size: 12px;
}

.cardImage {
    width: 100%;
    height: auto;
    margin: 12px 0px;
}

.cardCommentText {
    color: #8e8e8e;
    font-size: 11px;
}

.readDetailsBtn {
    width: 100%;
    height: 32px;
    background-color: #ffba3f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    margin-top: 14px;
    font-size: 14px;
}

.locationDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #D8DFE0;
    border-radius: 3px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.locationDiv h1 {
    font-size: medium;
    font-weight: 700;
    color: black;
    margin-left: 10px;
}

.locationDiv span {
    font-size: small;
    color: black;
}

.locationDiv img {
    width: 30px;
    height: 20px;
}


/* Media Queries for Tablet and Mobile */
@media (max-width: 1024px) {
    .emailBtn {
        font-size: 10px;
        padding: 4px 0px;
    }
    
    
}

@media (max-width: 800px) {
    .container{
        padding: 0 1rem;
    }
    .productImgDiv, .priceDiv, .disDiv, .reviewDiv{
        width: 100%;
    }
    .userDetailsDiv h1 {
        font-size: 0.6rem;
    }
    .productDetailsDiv h1 {
        font-size: 0.6rem;
    }
    .priceDiv h1 {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .disDiv h1 {
        font-size: 1rem;
    }
    .reviewDiv h1 {
        font-size: 1.2rem;
        font-weight: 700;
        color: black;
    }
    .relatedProductDiv h1 {
        font-size: 1.2rem;
    }
    .userDetailsDiv h1 {
        font-size: 0.6rem;
        margin-left: 10px;
    }
    .detailsDiv {
        width: 100%;
        flex-direction: column;
    }
    .detailsDivChild {
        margin-top: 1rem;
        width: 100%;
    }
    .reviewDiv .reviewImg {
        width: 4rem;
        height: 3rem;
    }
    .readDetailsCard {
        width: 60%; 
        margin-right: 0;
        padding: 12px 8px;
    }
}
@media (max-width: 768px) {
    h1, .cardTextBold, .cardDayText {
        font-size: 11px; /* Adjust font sizes */
    }

    .cardImage {
        margin: 8px 0;
    }

    /* Adjust paddings and margins as needed */
}

@media (max-width: 480px) {
    .container, .priceDiv, .disDiv, .userDetailsDiv, .productDetailsDiv {
        padding: 10px; /* Reduce padding */
    }

    .emailBtn, .addToCardBtn {
        font-size: 11px; /* Adjust button font sizes */
    }
}
