* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* background-color: #FFBA3F; */
}

.containerTwo {
    padding: 0 3%;
}

.textDiv {
    width: 100%;
    background-color: #F4F4F4;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text1 {
    color: #807D7E;
    font-weight: 500;
    font-size: small;
    text-align: center;
}

.text2 {
    font-size: x-large;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.text3 {
    color: #6D6E76;
    text-align: center;
    font-size: small;
    width: 35%;
    margin: 0 auto;
    margin-top: 10px;
}

.secondDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.hideFilterDiv {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.hideFilterDivHr {
    width: 23px;
    background-color: #BEBCBD;
    border: none;
    height: 1px;
    margin-top: 15px;
}

.hideFilterDivImg {
    width: 20px;
    height: 22px;
    cursor: pointer;
}

.secondDivSecond {
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 35px;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.searchMainDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.searchDiv {
    width: 30%;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.searchImg {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 15px;
}

.searchInput {

    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 45px;
    border-radius: 5px;
    color: #807D7E;
}

.searchInput::placeholder {
    color: #807D7E;
    font-size: medium;
}

.mapMainDiv {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.mapDiv {
    width: 30%;
    background-color: #F4F5F7;
    padding-bottom: 20px;
    cursor: pointer;
}

.mapImg {
    width: 100%;
    height: 250px;
    background-color: white;
    border-right: 2px solid #c6c5c6;
    border-left: 2px solid #c6c5c6;
    border-top: 2px solid #c6c5c6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 25px 15px;
}

.mapText1 {
    font-size: large;
    font-weight: 600;
    color: black;
    margin-left: 5%;
    margin-top: 7px;
}

.mapText2 {
    font-size: small;
    font-weight: 500;
    color: #898989;
    margin-left: 5%;
    margin-top: 7px;
}

.mapText3 {
    font-size: medium;
    font-weight: 600;
    color: black;
    margin-left: 5%;
    margin-top: 7px;
}

.showFilterDiv {
    width: 25%;
    /* background-color: red; */
    margin-top: 40px;
}

.showFilterDivOne {
    width: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #BEBCBD;
    padding-bottom: 20px;
}

.showFilterDivOne span {
    color: #FFBA3F;
    font-size: large;
    font-weight: 600;
}

.showFilterDivTwo {
    width: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 10px;
}


.showFilterDivTwo span {
    color: black;
    margin-top: 7px;
    cursor: pointer;
}

.showFilterDivTwo div {
    color: #807D7E;
    font-size: medium;
    font-weight: 600;
    margin-top: 20px;
    padding-bottom: 10px;
}

.showFilterDivThree {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 25px;
    margin-top: 35px;
}

.showFilterDivThree div {
    color: #807D7E;
    font-size: medium;
    font-weight: 600;
}

.showFilterDivFour {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.showFilterDivFour div {
    width: 35%;
    padding: 6px 0px;
    border-radius: 7px;
    border: 1px solid #BEBCBD;
    color: black;
    font-size: medium;
    text-align: center;
}

.searchMainDiv span {
    font-size: small;
    color: #807D7E;
}

.paginationDiv {
    /* background-color: red; */
    margin-top: 20vh;
}