* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffba3f;
  border-radius: 13px;
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cd9533;
}

/* ::-webkit-scrollbar-thumb:hover {
  width: 10px;
} */

.mainContainer {
  background-color: #f8f9fa;
  /* height: 100vh; */
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
}

.mainInsideContainer {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(28, 133, 98); */
  width: 100%;
}
